.displayBlock {
display: block;
}
.tableRow {
display: table-row;
font-family: calibri;
size: 12pt;
height: 25px;
}
.displayNone {
display: none;
}
.displayAsCell {
display: table-cell;
}
#tDiv span {
display: table-cell;
font-family: calibri;
size: 12pt;
width: 180px;
vertical-align: middle;
}
#tDiv input[type='text'] {
display: table-cell;
font-family: calibri;
size: 12pt;
width: 100%;
}
#tDiv {
height: 150px;
width: 380px;
border-radius: 10px;
background-color: #f2f2f2;
padding: 10px;
}
#tDiv button {
max-height: 25px;
min-width: 15px;
padding: 2px 2px 2px 2px;
margin-left: 1px;
}